@model FileUploadViewModel
@{
    ViewData["Title"] = "Submit Code File";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<div class="container" style="margin-bottom:100px">
    <div class="row">
        <div class="col-md-6">
            <h1><b>Effortless Code Vulnerabilities Assessment<br /> <span>for Secure Software.</span></b></h1>
            <h5>Best Practices for Secure System Design</h5>
            <p>
                Enhance the security of your applications with our comprehensive
                code vulnerability assessment tools, designed to help you write
                and maintain secure code effortlessly.
            </p>
            <form asp-controller="CodeScan" asp-action="Scanner" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileInput">Choose Code File</label>
                    <input type="file" id="fileInput" name="file" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit Code File</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/Images/hero-section-img.jpg" alt="Code Vulnerability Assessment Image" class="img-fluid" />
        </div>
    </div>
</div>
