@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container" style="margin-bottom:100px">
    <div class="row">
        <div class="col-md-6">
            <h1><b>Effortless Code Vulnerabilities Assessment<br /> <span>for Secure Software.</span></b></h1>
            <h5>Best Practices for Secure System Design</h5>
            <p>
                Enhance the security of your applications with our comprehensive
                code vulnerability assessment tools, designed to help you write
                and maintain secure code effortlessly.
            </p>
            <a asp-controller="CodeScan" asp-action="Scanner" type="submit" class="btn btn-primary">Submit Code File</a>
        </div>
        <div class="col-md-6">
            <img src="/Images/hero-section-img.jpg" alt="Code Vulnerability Assessment Image" class="img-fluid" />
        </div>
    </div>
</div>
